.live-icon {
  position: relative;
  display: inline-block;
  /* padding-bottom: -35px; */
}

.header-logo {
  width: 100px;
  height: 95px;
  position: absolute;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}

.live-badge {
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  color: white;
  padding: 3px 7px;
  border-radius: 20px;
  font-size: 8px;
  font-weight: bold;
}

.offcanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  background: white;
  display: flex;
  flex-direction: column;
  padding-top: 65px;
  z-index: -1;
 transition: transform 0.5s ease-in-out, opacity 0.7s ease-in-out;
  transform: translateY(-100%); 
  opacity: 0;
}

.offcanvas.visible {
  transform: translateY(0); 
  opacity: 1;
  visibility: visible;
}


.nav-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  color: #000;
}
.navlink {
  font-weight: bold;
  color: gray;
}
.navlink:hover span {
  /* background-color: gray; */
  color: #00397f;
}
.nav-link {
 /* background-color: gray; */
 /* color: white; */
 padding: 10px;
}

.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  align-self: flex-end;
}

@media (min-width: 770px) {
  
  .search-bar {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .offcanvas {
    display: none;
  }

  
}
@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  } 
  .headermainhead.h-100vh {
    /* box-shadow: none; */
    /* height: 65px; */
    /* height: 100%; */
    align-content: center;
  }
  .headermainhead {
    height: 65px;
    align-content: center;

  }
  .headermainhead.h-105 {
    /* box-shadow: none; */
    height: 65px;
    align-content: center;
  }
  .header-logo{
    width: 75px;
    height: auto;
    position: absolute;
    
  }
 

  .search-bar {
    display: none;
  }

  .hamburger {
    display: block;
    margin-left: auto;
  }

  /* .offcanvas {
    width: 50%;
  } */
}

@media (max-width: 425px) {
  .desktop-menu {
    display: none;
  }

  .search-bar {
    display: none;
  }
  /* .offcanvas {
    width: 80%;
  } */

  .hamburger {
    display: block;
    margin-left: auto;
  }
}
.notification-modal .ant-modal-content {
  border-radius: 8px; 
}

.notification-modal .ant-modal-header {
  /* background-color: #f0f0f0;  */
  border-radius: 8px 8px 0 0; 
}

.notification-modal .ant-modal-body {
  padding: 5px; 
}

.notification-modal .ant-card {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(220, 196, 196, 0.1); 
}
:where(.css-dev-only-do-not-override-7ny38l).ant-card .ant-card-body {
  padding: 8px;
  border-radius: 0 0 8px 8px;
}
.notification-heading {
  color: rgb(0, 174, 255);
}