.refer-parent {
  background-color: #5178e6ab;
  height: 70vh;
  margin-top: 106px;
  align-content: center;
}
.refer-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.refer-card {
  height: 60vh;
  width: 70%;
  box-shadow: 0 0 10px 2px #455e86;
  position: relative;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.refer-firstrow {
  align-items: center;
  height: 100%;
}
.refer-firstcol {
  z-index: 1;
}
.refer-headings {
  font-weight: bold;
  font-size: 56px;
  color: #2563eb; 
  font-family: serif;
  -webkit-text-stroke: 2px #2563eb; 
}

.refer-headings {
  font-weight: bold;
  font-size: 36px;
  color: transparent; 
  -webkit-text-stroke: 2px #2563eb; 
  background: linear-gradient(90deg, #2563eb 0%, #3b82f6 50%, transparent 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: serif;
  animation: fillLeftToRight 5s infinite;
  background-size: 200%; 
 
}
.refer-heading {
  font-weight: bold;
  font-size: 56px;
  color: transparent; 
  -webkit-text-stroke: 2px #2563eb; 
  background: linear-gradient(90deg, #2563eb 0%, #3b82f6 50%, transparent 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: serif;
  animation: fillLeftToRight 5s infinite;
  background-size: 200%; 
}
.referpage_labelCss {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 450;
}
.inputcolumn-refer {
  border-radius: 8px;
  width: 90% !important;
  height: 40px;
  margin-bottom: 5%;
  padding: 5px !important;
  font-size: 1rem !important;
}

@keyframes fillLeftToRight {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.refer-svgpath {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
}

.svg-path {
  width: 100%; 
  height: 100%; 
  display: block;
}

.refer-secondcol {
 z-index: 1;
}
.refer-secondcol img {
  width: 100%;
  justify-self: self-end;
}


@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.animate-slide-in-left {
  animation: slideInLeft 1s ease-in-out;
}

